.intro-container{
    padding: 10rem 0;
}
.intro-main{
    width:75%;
    margin:0 auto;
    display: flex;
    position: relative;
}
.intro-left{
    position: relative;
}
.intro-right{
    display:flex;
    flex-direction: column;
    gap:2rem;
    position:absolute;
    bottom:0;
    left: 35rem;
    padding:5rem 3rem 1rem 5rem;
    background-color: white;
}
.intro-heading{
    font-family: 'josefin Sans', sans-serif;
    font-size: 3rem;
    font-weight: 300;
    text-transform: uppercase;
}
.intro-content{
    color:hsl(0, 0%, 55%);
    line-height: 1.69rem;
    font-weight: 200;
    font-size: 15.5px;
    text-align: start;

}